[package]
name = "db"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.42"
diesel = { version = "2.3.4", features = ["postgres", "chrono"] }
uuid = { version = "1.19.0", features = ["v4"] }
